*{

	color: white;
}

.tableStyle{
	color: black;
/*	margin: 0 auto;*/
	padding-top: 2em;

	td{
		padding: 1.5em;
		border-top: 1px dashed white;
	}

	input{
		width: 2em;
		font-size: 0.5em;
	}


		

	select{
		width: auto;
		font-size: 0.5em;
	}

	button{
		font-size: 0.5em;
	
	}

}

.editButtons{

	color: red;
	background-color: #FF0000;

}
