body{


background-color: #101010;

}

div{

	border: none;
	background-color: #1c1c1c;
}

h1{
	margin-bottom: 2em;
	font-size: 48px;
	letter-spacing: 0.5em;

}

#addTransaction{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	 
	
	li{
		margin: 1em;
	}
}

#import{



}

#transactionsButtons{

	button{
		padding: 0.5em 1em;
		color: black;
		background-color: white;
		border-radius: 20px;
		font-size: 1em;
		letter-spacing: 0.25em;
		margin: 1em;
		
			}

	button:hover{
		background-color: #1c1c1c;
		color: white;
	}

	input{
		font-size: 0.5em;
	}

	select{
		font-size: 1em;
	}

	textArea{
		}

	


	font-family: "sans-serif";
	font-weight: bold;

}

#new{

	padding: 1em 2em;
	font-size: 36px;
	color: red;
}


#transactionsTable{

/*	border: 4px solid white;*/
	color: red;
}


